{% extends "base.html" %}

{% block header %}
<div id="app-header"
     hx-get="/ui/header?tab={{ Self::get_view().url() }}"
     hx-trigger="auth-changed"
     hx-swap="innerHTML">
    {% include "components/header.html" %}
</div>
{% endblock %}


{% block content %}


<div id="view-connections" class="bg-gray-100 p-5 rounded-lg mb-5 border border-gray-300">
    <h2 class="text-xl font-bold mb-3">Connection Manager</h2>
    <p class="mb-4">Manage your Modbus TCP connections here.</p>

    <!-- ClearCore Connection -->
    <div hx-get="/modbus/clearcore/manager" hx-trigger="load, sse:connection-status" hx-swap="innerHTML" class="mb-4">
        Loading ClearCore connection...
    </div>

    <!-- Welder Connection -->
    <div hx-get="/modbus/welder/manager" hx-trigger="load, sse:connection-status" hx-swap="innerHTML">
        Loading Welder connection...
    </div>
</div>
{% endblock %}
