{% extends "base.html" %}

{% block header %}
<div id="app-header"
     hx-get="/ui/header?tab={{ Self::get_view().url() }}"
     hx-trigger="auth-changed"
     hx-swap="innerHTML">
    {% include "components/header.html" %}
</div>
{% endblock %}


{% block content %}

<div id="auth-modal"></div>

<main class="container mx-auto">
    <div class="flex items-center justify-between mb-4 h-18">
        <h2 class="text-xl font-bold my-auto ">Machine Configuration</h2>
        <div id="status-message"></div>
    </div>
    {% include "components/machine_config/config-form.html" %}
</main>

{% endblock %}
