{% extends "base.html" %}

{% block header %}
<div id="app-header"
     hx-get="/ui/header?tab={{ Self::get_view().url() }}"
     hx-trigger="auth-changed"
     hx-swap="innerHTML">
    {% include "components/header.html" %}
</div>
{% endblock %}


{% block content %}

<div id="auth-modal"></div>

<div id="view-connections" class="bg-gray-100 p-5 rounded-lg mb-5 border border-gray-300">
    <h2 class="text-2xl font-bold text-slate-700 mb-6">System Registers</h2>

    <!-- The Grid Container - HTMX will populate this -->
    <div hx-get="/miller-info/grid"
         hx-trigger="load, every 1s"
         hx-ext="morph"
         hx-swap="morph:innerHTML">
        Loading...
    </div>
</div>

<!--
  Global Modal Layer
  Placed outside the polling container so it doesn't get cleared on refresh.
  HTMX requests from the buttons above will target this ID.
-->
<div id="global-modal-layer"></div>
{% endblock %}