{% extends "base.html" %}

{% block content %}
{% include "components/header.html" %}

<div id="view-welder-profile" class="bg-gray-100 p-5 rounded-lg mb-5 border border-gray-300">
    <div class="flex justify-between mb-6">
        <h2 class="text-2xl font-bold text-slate-700 align-middle my-auto">Welder Profile</h2>
        <div class="flex flex-col gap-1 h-min">
            <div class="flex gap-2">
                <button hx-get="/welder-profile/fs/save" hx-target="#profile-fs-op-status" class="px-4 py-2 bg-blue-600 text-white border-none cursor-pointer rounded hover:bg-blue-700">Save</button>
                <button hx-get="/welder-profile/fs/save_as" hx-target="#global-modal-layer" class="px-4 py-2 bg-blue-600 text-white border-none cursor-pointer rounded hover:bg-blue-700">Save as</button>
                <br class="mx-1"/>
                <button hx-get="/welder-profile/fs/load" hx-target="#global-modal-layer" class="px-4 py-2 bg-blue-600 text-white border-none cursor-pointer rounded hover:bg-blue-700">Manage Saved Profiles</button>
            </div>
            <div id="profile-fs-op-status" class="h-5"></div>
        </div>
    </div>

    <div id="profile-metadata"
         hx-get="/welder-profile/metadata"
         hx-trigger="load"
         hx-swap="innerHTML"
         hx-on:reloadProfileMetadata="htmx.trigger(this, 'load')">
    </div>

    <div hx-get="/welder-profile/grid"
         hx-trigger="load, every 1s"
         hx-ext="morph"
         hx-swap="morph:innerHTML">
        Loading...
    </div>
</div>

<div id="global-modal-layer" hx-on:closeModal="this.innerHTML = ''"></div>
{% endblock %}
