<div class="flex flex-col border border-slate-300 rounded shadow-sm bg-white overflow-hidden w-40">
    {% block display_value %}{% endblock %}
    <button
            class="text-sm h-12 font-mono py-1 px-2 text-center hover:bg-blue-50 hover:text-blue-600 transition-colors cursor-pointer border-t border-slate-200 text-wrap"
            hx-get="/welder-profile/edit/{% block register_name_url %}{% endblock %}"
            hx-target="#global-modal-layer"
            hx-swap="innerHTML">
        {% block register_name_text %}{% endblock %}
    </button>
</div>
