<div class="flex flex-wrap gap-4 justify-center">
    {{ use_dc_output|safe }}
    {{ use_ep_polarity|safe }}
    {{ boost_en|safe }}
    {{ droop_en|safe }}
    {{ use_low_ocv|safe }}
    {{ pulser_en|safe }}
    {{ use_low_ac_commutation_amp|safe }}
    {{ ac_independant_en|safe }}
    {{ tungsten_preset|safe }}
    {{ preset_min_amperage|safe }}
    {{ arc_start_amperage|safe }}
    {{ arc_start_time|safe }}
    {{ arc_start_slope_time|safe }}
    {{ arc_start_ac_time|safe }}
    {{ arc_start_polarity_phase|safe }}
    {{ ac_en_wave_shape|safe }}
    {{ ac_ep_wave_shape|safe }}
    {{ hot_start_time|safe }}
    {{ ac_en_amperage|safe }}
    {{ ac_ep_amperage|safe }}
    {{ ac_balance|safe }}
    {{ ac_frequency|safe }}
    {{ weld_amperage|safe }}
    {{ pulser_pps|safe }}
    {{ pulser_peak_time|safe }}
    {{ preflow_time|safe }}
    {{ initial_amperage|safe }}
    {{ initial_time|safe }}
    {{ initial_slope_time|safe }}
    {{ main_time|safe }}
    {{ final_slope_time|safe }}
    {{ final_amperage|safe }}
    {{ final_time|safe }}
    {{ postflow_time|safe }}
    {{ hot_wire_voltage|safe }}
</div>
