{% macro render(side) %}
<div class="rounded-lg border border-slate-200 bg-slate-50 p-2 flex-1">
    <div class="flex items-center justify-between mb-2">
        <span class="text-xs font-semibold text-slate-600">{{ side|capitalize }}</span>
        <div
                hx-get="/clearcore-manual-control/finger-status/{{ side }}"
                hx-trigger="load, every 100ms"
                hx-target="this"
                hx-swap="morph:innerHTML">
            <span class="text-gray-400 text-xs">Loading...</span>
        </div>
    </div>
    <div class="flex content-stretch gap-2 h-16">
        <button
                type="button"
                hx-post="/clearcore-manual-control/finger/{{ side }}/up"
                hx-target="#finger-command-feedback"
                hx-swap="innerHTML"
                class="grow h-full px-2 text-base font-semibold bg-slate-200 text-slate-700 rounded">
            Unclamp
        </button>
        <button
                type="button"
                hx-post="/clearcore-manual-control/finger/{{ side }}/down"
                hx-target="#finger-command-feedback"
                hx-swap="innerHTML"
                class="grow h-full px-2 text-base font-semibold bg-slate-200 text-slate-700 rounded">
            Clamp
        </button>
    </div>
</div>
{% endmacro %}
