{% extends "components/welder-info/base-register-card.html" %}

{% block value_classes %}

{% endblock %}

{% block display_value %}
<div class="h-8 flex items-center justify-center font-bold text-xl gap-1
{% if has_value() %}
    bg-slate-100 text-slate-800
{% else %}
    bg-gray-100 text-gray-400
{% endif %}">
    {{ formatted_value() }}
    <p class="text-sm align-bottom mt-auto mb-1 text-slate-600">{{ register_info.unit_string() }}</p>
</div>
{% endblock %}

{% block register_name_url %}{{ register_info.meta.name }}{% endblock %}
{% block register_name_text %}{{ register_info.meta.name }}{% endblock %}