@import "tailwindcss";

@config "../tailwind.config.js";

@source "../templates";
@source "../src";

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; visibility: hidden; }
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}